@{
    ViewBag.Title = "Welcome Page";
}
<style>
    td {
        border: black solid 1px;
        padding: 5px;
    }

    table {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
</style>
<div>
    <div id="welcome-block" style="text-align:center;">
        <h1>Welcome</h1>
        <button class="go-to-login-page">登入</button>
        <button class="go-to-search-page">查房</button>
        <button id="go-to-my-account">我的訂單</button>
    </div>
    <div id="login-register-block" style="text-align:center;">
        <h2 id="login-register-title">登入</h2>
        <div>
            <h3>帳號</h3>
            <input id="login-register-account" type="text" />
        </div>
        <div>
            <h3>密碼</h3>
            <input id="login-register-password" type="password" />
        </div>
        <div id="login-register-name-block">
            <h3>姓名</h3>
            <input id="login-register-name" type="text" />
        </div>
        <div style="margin-top:5px;">
            <button id="login-register-submit-button">確定</button>
        </div>
        <div style="margin-top:5px;">
            <button id="login-register-register-button">註冊</button>
            <button id="login-register-login-button">登入</button>
        </div>
    </div>
    <div id="rooms-block" style="text-align:center;">
        <h2>訂單查詢</h2>
        <div>
            <h3>入住日</h3>
            <input id="checkindate" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <input id="findRoom" type="button" value="查詢" />
        </div>
        <table id="findRoomResult">
        </table>
        <button class="back-home-button">回首頁</button>
    </div>
    <div id="my-account-block" style="text-align:center;">
        <h2 id="my-account-name-h2">Hi</h2>
        <h2>我的訂單</h2>
        <table id="my-orderlist">
        </table>
        <button class="back-home-button">回首頁</button>
    </div>
    <div id="edit-orderlist-block" style="text-align:center;">
        <h2>修改訂單</h2>
        <div>
            <h3>入住日</h3>
            <input id="editcheckindate" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <input id="editCheckindatebutton" type="button" value="確認" />
        </div>
        <input id="taget-order-list-id" data-orderlistid="" type="button" style="visibility:hidden;" />
    </div>
</div>
<input id="member-id" data-memberid="" type="button" style="visibility:hidden;" />
<input id="member-name" data-membername="" type="button" style="visibility:hidden;" />
@Scripts.Render("~/Scripts/Custmize/pageItemSetting.js")
@Scripts.Render("~/Scripts/Custmize/clcikFunctions.js")
@Scripts.Render("~/Scripts/Custmize/ajaxFunctions.js")
@Scripts.Render("~/Scripts/Custmize/main.js")
<script>
    initialization();
</script>